@media (max-width: 1000px) {
    .maindiv {
        display: none;
    }
}

@media (max-width: 885px) {
    .header {

        flex-direction: row;
        gap: 54%;
        padding: 15px;

    }

    #chekbtn {
        display: none;
        font-size: 28px;
        color: #1e1e1e;
        cursor: pointer;
    }


    #chekbtn {
        display: block;
    }

    .vill2 {
        display: none;
    }

    .dp1 {
        padding: 1%;
        border-bottom: 1px solid rgb(217, 210, 210);
    }

    #chek:checked~.inb2 {
        display: block;
    }

    .inb2 {
        display: none;
        flex-direction: column;
        text-align: center;
        position: absolute;
        justify-content: center;
        top: 100%;
        left: 8%;
        width: 84%;
        z-index: 999;
        background-color: #99c5ce;
        line-height: 35px;

    }

    .inb2 li:hover {
        color: rgb(107, 52, 149);
        text-decoration: underline;
    }



}

@media (max-width: 500px) {
    .imgp2 {
        font-size: 40px;
        width: auto;
    }
}

@media (max-width: 496px) {
    .imgp2 {
        top: 26%;
    }

    .imgdiv {
        background-position: -625px;
    }
}

@media (max-width: 332px) {
    .imgp {
        font-size: 16px;
        width: auto;
        padding: 0px 13px;
    }

    .imgp2 {
        font-size: 36px;
        width: auto;
        top: 28%;
        line-height: 1.3;
    }
}

@media (max-width: 1000px) {
    .coldivmain {
        flex-direction: column;
        justify-content: center;
        display: flex;
        padding: 58px;
    }

    .table {
        width: 100%;
        background-position: 12%;
        background-size: cover;
        height: 800px;
    }

    .colmain {
        width: 100%;
    }

    .coldiv {
        text-align: center;
    }

    .man {
        width: 100%;
    }



}

@media (min-width: 600px) and (max-width: 790px) {

    .coldiv2 {
        line-height: 60px;
        font-size: 19px;
    }

    .bestdivp {
        line-height: 40px;
        font-size: 19px;
    }
}

@media (max-width: 520px) {
    .table {
        width: 100%;
        background-position: 12%;
        height: 800px;
    }

    .coldivmain {
        padding: 20px;
    }
}

@media (max-width: 390px) {
    .coldiv {
        font-size: 18px;
    }
}

@media (max-width: 765px) {
    .video-frame img {
        width: 90%;
    }
}

@media (max-width:860px) {
    .wrap {
        gap: 1.2rem
    }

    .card {
        padding: 20px;
    }

    .dot {
        width: 48px;
        height: 48px;
        right: -14px;
        top: -14px;
    }

    .num {
        font-size: 40px;
    }
}

@media (max-width:520px) {
    .wrap {
        flex-direction: column;
        align-items: stretch;
    }

    .card {
        width: 100%;
    }

    .dot {
        right: -6px;
        top: -14px;
    }
}

@media (max-width: 780px) {
    .h2p {
        width: 70%;
        margin: auto;
    }

    .h2p h2 {
        font-size: 32px;
        line-height: 34px;
    }
}

@media (max-width: 380px) {
    .h2p {
        width: 90%;
    }

    .h2p h2 {
        font-size: 22px;
        line-height: 26px;
    }
}

@media (max-width: 431px) {
    .findbest {
        font-size: 20px;
    }

    .bb1 {
        height: 40px;
        width: 100px;
        font-size: small;
    }

    .bb2 {
        height: 40px;
        width: 100px;
        font-size: small;
    }
}

@media (max-width: 950px) {
    .intablemain_child {
        width: 75%;
    }

    .intablep {
        padding-bottom: 10px;
        padding-top: 30px;
    }
}

@media (max-width: 951px) {
    .divhpp {
        margin-top: 465px;
    }


}

@media (max-width: 603px) {
    .divhpp {
        margin-top: 500px;
    }
}

@media (max-width: 482px) {
    .divhpp {
        margin-top: 535px;
        line-height: 18px;
    }

    .divhp p {
        font-size: 34px;
    }
}

@media (max-width: 438px) {
    .divhpp {
        margin-top: 580px;
    }

    .divhp p {
        font-size: 32px;
        line-height: 52px;
    }
}

@media (max-width: 380px) {
    .divhpp {
        margin-top: 630px;
    }

    .divhp p {
        font-size: 28px;
    }
}

@media (max-width: 335px) {
    .divhpp {
        margin-top: 665px;
    }

    .divhp p {
        font-size: 27px;
        line-height: 46px;
    }
}

@media (max-width: 730px) {
    .item {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    .mapmn {
        flex-direction: column;
    }

    .map {
        width: 90%;
        margin-left: 40px;
    }

    .form {
        width: 90%;
        margin-left: 40px;
        margin-top: 40px;
        padding-bottom: 15px;
    }

    .phonemain {
        flex-direction: column;
    }

    .phone {
        width: 100%;
    }

}

@media (max-width: 500px) {
    .map {
        width: 80%;
        margin-left: 30px;

    }

    .phone {
        width: 100%;
    }

    .form {
        width: 80%;
        margin-left: 28px;
        padding-bottom: 15px;
    }
}

@media (max-width: 450px) {
    .table .feature {
        bottom: -28px;
        left: -17px;
    }
}

@media (max-width: 750px) {
    .mapmn {
        margin-top: -30%;
    }

}

@media (max-width: 450px) {
    .mapmn {
        margin-top: -44%;
    }

}

@media (max-width: 450px) {
    .mapmn {
        padding-bottom: 40px;
    }

    .msgbtn {
        height: 35px;
        width: 130px;
        font-size: small;
    }

    .bgdiv p {
        line-height: 60px;
    }

    .btncontain {
        height: 50px;
    }

    .coldiv {
        line-height: 48px;
    }

    .mapmn {
        margin-left: 30px;
    }

    .findbestmn {
        margin-top: 0;
    }

    .colmain {

        height: auto;
    }

    .bestbtn {
        justify-content: center;
        padding-top: 7px;
    }
}

@media (max-width: 376px) {
    .mapmn {
        margin-left: 22px;
    }
}

@media (max-width: 376px) {
    .mapmn {
        margin-left: 18px;
    }

    .bestbtn {
        justify-content: center;
    }
}

@media (max-width: 335px) {
    .mapmn {
        margin-left: 11px;
    }
}

@media (max-width: 335px) {
    .bestbtn {
        margin-left: 14px;
        width: 95%;
    }

    .form {
        padding-left: 28px;
    }
}